body {
    color: white;
    background: black;
    margin: 0px;
     font-family: "Caprasimo", serif;
}

header {
    border-bottom: solid 2px rgb(48, 228, 42);
    padding: 20px;
    font-size: 32px;
    color: rgb(46, 107, 30);
}

section {
    background: rgb(235, 62, 212);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}